// COLORS
:root {
	--color-primary: #2a2a72;
	--color-primary-light: #2a2a72;
	--color-primary-dark: #2a2a72;
	--color-secondary-light: #232528;
	--color-secondary-dark: #232528;
	// --color-tertiary-light: #2998ff;
	// --color-tertiary-dark: #5643fa;
	--color-grey-light-1: #f7f7f7;
	--color-grey-light-2: #eee;
	--color-grey-dark: #777;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-green: #8de02c;
	--color-red: #f00;
	--color-orange: #f9ca3f;
	--color-blue: #1795ce;

	// FONT
	--default-font-size: 1.6rem;

	--heading-primary-size-main: 4rem;
	--heading-primary-size-sub: 2rem;

	// GRID
	--grid-width: 114rem;
	--gutter-vertical: 8rem;
	--gutter-vertical-small: 6rem;
	--gutter-horizontal: 6rem;

	//BOX SHADOW
	--box-shadow-color: rgba(0, 0, 0, 0.2);
}
